/* Other rules */

* {
    box-sizing: border-box !important;
    font-family: 'Segoe UI' !important;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 50px;
    padding: 25px 0px;
}

.container-scrollbar {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    overflow-x: scroll;
    margin: 0 0 0 50px;
    padding-bottom: 20px;
}

.container-scrollbar img {
    height: 124px;
    width: 220px;
}

.container-scrollbar::-webkit-scrollbar {
    display: none;
}

.container-logo {
    height: 100px;
    width: 100px;
    margin: 0 0 0 50px;
}