/* Other rules */

* {
    box-sizing: border-box !important;
    font-family: 'Segoe UI' !important;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.container-scrollbar {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    overflow-x: scroll;
}

.container-scrollbar::-webkit-scrollbar {
    display: none;
}